@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
  
@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
  
@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

body * {
    font-family: 'LotteMartDream', serif;
}

.logo {
    width: 100%;
    height: 7.8rem;
    text-align: center;
    background-color: inherit;
    line-height: 10rem;
    color: white;
    font-size: 5.0rem;
    font-weight: bold;
}

.logo img {
    width: 100%;
    max-width: 34rem;
}

.menu {
    background-color: inherit;
    border-color: #242d3c;
    height: 4.0rem;
}

.menu-item {
    display: inline-block;
    color: #242d3c;
    font-size: 1.2rem;
    line-height: 4.0rem;
    width: 25%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    border-bottom: 2px solid;
    border-color: #242d3c;
}

.menu-item:hover {
    color: #ff8080;
}

.menu-item:active, .menu-item.active {
    color: white;
    background-color: #242d3c;
}